<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
    <facility value="Local7" />
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} {HostName} {AppName}" />
    <layout type="log4net.Layout.PatternLayout" value="%-5level | %message%newline" />
    <remoteAddress value="logs.papertrailapp.com" />
    <remotePort value="64837" />

    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="System"/>
      <acceptOnMatch value="false"/>
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Microsoft"/>
      <acceptOnMatch value="false"/>
    </filter>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="PapertrailRemoteSyslogAppender" />
  </root>
</log4net>